body {
    background: #191919;
}

table {
    position: absolute;
    width: 40em;
    height: 40em;
}

td{
    width: 1em;
    height: 1em;
}

.black {
    background: black;
}

.white {
    background: white;
}

.apple {
    background: red;
}

.blue {
    background: blue;
}