body {
    background: #191919;
}

.tablediv {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    width: 100%;
    height: 100%;
}

td{
    width: .8em;
    height: .8em;
}

.black {
    background: black;
}

.white {
    background: white;
}

.apple {
    background: red;
}

.blue {
    background: blue;
}